.bcgov-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bcgov-dropdown-label {
  margin-bottom: 10px;
}

.bcgov-dropdown {
  font-size: 18px;
  color: #313132;
  background: white;
  box-shadow: none;
  border: 2px solid #606060;
  min-width: 200px;
  padding: 8px 45px 8px 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fa-chevron-down {
  pointer-events: none;
  position: absolute;
  top: 1em;
  right: 1em;
}

.bcgov-dropdown-wrapper {
  position: relative;
  display: inline;
}

:focus {
  outline: 4px solid #3b99fc;
  outline-offset: 1px;
}
