.bcgov-tab-title {
  border-bottom: none;
}

.bcgov-tab-title a {
  color: #1a5a96 !important;
  background-color: transparent !important;
  text-decoration: underline !important;
  margin-right: 5px;
  margin-left: 10px;
  padding: 0.3em;
  outline: none;
}

.bcgov-tab-title a:not(.active):hover {
  border: 1px solid transparent !important;
}

.bcgov-tab-title a.active {
  border: 1px solid #ddd !important;
  text-decoration: none !important;
  color: #494949 !important;
}

.bcgov-tab-title a.disabled {
  text-decoration: none !important;
  color: lightgray !important;
}

.bcgov-tab-content {
  border: 1px solid #ddd;
  border-radius: 0.2em;
  padding: 0.8em;
  overflow: auto;
}
