.navbar > .container-fluid {
  width: 95%;
  justify-content: inherit;
}

.bcgov-pointer {
  cursor: pointer;
}

.bcgov-flex-spacing {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.bcgov-vertical-center {
  align-self: center;
}
