.bcgov-table {
  width: 100%;
}

.bcgov-table-body {
  display: flex;
  flex-direction: column;
}

.bcgov-row {
  display: flex;
  flex-direction: row;
  vertical-align: top;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-right: 3px;
  white-space: pre-wrap;
}

.blue-stripe .bcgov-table-body .bcgov-row:nth-child(even) {
  background: rgba(241, 244, 250, 1);
}

.blue-stripe .bcgov-table-body .bcgov-row:nth-child(odd) {
  background: rgba(225, 232, 242, 1);
}

.side-by-side {
  width: 60%;
}

.vertical-middle {
  width: 35%;
  vertical-align: middle !important;
}

.reduce-width {
  width: 20%;
}

.empty-row td {
  border-bottom: 1px solid black;
}

.right-align {
  text-align: right;
}
